/* @font-face {
    font-family: my_font;
    src: url(../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
  } */


body {
    background-color: rgb(204, 204, 204, 0.2);
    font-family: my_font;
    font-size: 100%;
}

li.admin{
    margin-left: 10px;    
    list-style-type: none;
}

.btn-group-lg>.btn, .btn-lg{
    font-size: unset;
}

.card-text{
    /* hide text is more than N lines */
    overflow: hidden;
    /* to set ... in absolute position */
    position: relative;
    /* to count block height */
    line-height: 1.5em;
    /* max-heigth = line height (1.2) * lines max number (3) */
    max-height: 6em;
    /*fix problem when last visible word does not adjoin right side */
    text-align: justify;
    /* text-justify: distribute; */
    /* place for '...' */
    /* margin-right: 0em; */
    padding-right: 1em;
}
/*  create the ... */
    .card-text:before{
        /*ellipsis*/
        content: "...";
        /*absolute position */
        position: absolute;
        /*set position to right bottom corner of the block */
        right: 0;
        bottom: 0;
    }
/* hide ... if we have text, which is less than or equal to max lines */
    .card-text:after{
        content: "";
        /*set position to right bottom corner of text */
        position: absolute;
        /*set width and height*/
        width: 100%;
        height: 1em;
        margin-top: 0.2em;
        /* bg color = bg color under block */
        background: white;

    }

    .card-body{
        max-height: 15em;
    }

    @media(max-width:1204px){
        .card-body{
            max-height: 15em;
        }
    }

    @media(max-width:988px){
        @media(max-width:1204px){
            .card-body{
                max-height: unset;
            }
        }
    }
    @media(max-width:767px){
        li.admin{
            margin-left: unset;    
            margin-top: 10px;
        }
        
    }
    @media(max-width:572px){
        li.admin{
            margin-top: unset;
        }
        
    }